@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
  --ppp-primary: #231a3f;
  --ppp-secondary: #423689;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'BigCaslon';
  src: url('/assets/fonts/BigCaslon.ttf');
  font-weight: 700;
}

.primary {
  background-color: var(--primary) !important;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

select {
  background-color: #fafafa;
  margin: .5rem;
}

/* PPP */
.ppp-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  max-width: 100%;

}

@media only screen and (max-width: 48rem) {
  .ppp-flex-container {
    flex-direction: column;
  }
}




.ppp-container {
  padding: 1.5rem;
  width: 108rem;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.ppp-container-md{
  width: 75rem;
}

.ppp-container-sm{
  width: 50rem;
}

.adult-pomsky-image, .adult-pomsky-image img {
  display: block;
  width: 20rem;

}


.filters {
  color: #333;
}

.hero {
  min-height: 50rem;
}

.hero {
  background-image: url('/images/ppp-hero.webp');

  transform: scaleY(1);
  background-size: cover;
  background-position: center;
  position: relative;
  font-size: 7.5rem;
  line-height: 8.2rem;
  padding: 3.5rem 0;
  box-sizing: border-box;
}



.hero-container {
  position: relative;
  width: 50rem;
  margin: 0 auto 0 20rem; 
  max-width: 100%;
  z-index: 2;
  padding: 3.5rem 1.5rem;
  color: var(--ppp-primary);
  background-color: rgba(255,255,255,.4);
  border-radius: .5rem;
  

}

.hero-container .cta  a {
  color: white;
  font-size: 1.6rem;
}


.hero:after, .contact-hero:after {
  content: "";
  position: absolute;
  top: 0;
  background: linear-gradient(94deg, rgb(174 221 255 / 80%), rgb(146 129 253 / 41%));
  width: 100%;
  height: 100%;
  z-index: 1;
}


/* ORGANIZE THIS */

.adult-pomsky {
  background-color: #e7e7e7 !important;
  position: relative;
}

.adult-pomsky:after {
  content: "";
  position: absolute;
  clip-path: polygon(0 0, 100% 0%, 50% 100%);
  bottom: -2rem;
  left: 0;
  right: 0;
  background-color: #e7e7e7;
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  z-index: 2;
}

.adult-pomsky-text {
  color: var(--ppp-primary) !important;

}

.adult-pomsky-text span {
  display: block;
  font-size: 6.5rem;
  line-height: 6rem;
}

.hero h2 {
  font-family: 'BigCaslon';
  margin-top: 2.5rem;
}
 .adult-pomsky-text, .hero h1  {
  font-family: 'BigCaslon';
  letter-spacing: -.5rem;
}

.ppp-navbar 
.gallery {
  background-color: #333;
  padding: 2.5rem;
  box-sizing: border-box;
}

.ppp-headline {
  font-size: 2.5rem;
  text-align: center;
  color: var(--ppp-primary);
  margin-top: 2.5rem;
}

.ppp-dog-bio {
  display: flex;

  margin: 1.5rem 0;
}
.ppp-dog-bio-text {
  color: var(--ppp-primary);
}
.ppp-dog-bio-text span{
  font-size: 2rem;
}
.ppp-dog-bio-image {
  background-color: #333;
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  min-width: 5.5rem;
  margin: 1rem 2rem;
  background-size: contain !important;
}

.u-pad {
 padding: 1.5rem;
}


section {
  padding: 2.5rem 0;
  box-sizing: border-box;
}

.cta p, .hero-container p {
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.hero-container p {

  width: 55rem;
  max-width: 100%;
}
.hero-container h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;

}

.cta {
  width: 55rem;
  max-width: 100%;
  text-align: center;
}

/* COMMON */

.ppp-headline,  .ppp-dog-bio-text span{
  font-family: 'BigCaslon';
}

.cta button {
  font-size: 1.7rem; 
  color: white;
  background-color: var(--ppp-secondary);
  border-color: var(--ppp-secondary);
  position: relative;
  top: -2rem;
}

.established {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  width: 55rem;
  max-width: 100%;
}
.established span:first-child, .established span:last-child {
  display: block;
  flex: 2;
  border-top: .5rem var(--ppp-secondary) solid;
  top: 4.5rem;
  position: relative;
}
.established span:nth-child(even){
  padding: .5rem;
  flex: 2;
  font-size: 2.7rem;
  text-align: center;
  font-family: 'BigCaslon';
  letter-spacing: -.25rem;
  font-style: italic ;
} 

.invalid-field {
  border: 1px solid #f54702;
}

.danger {
  color: #f54702;
}

.half-column {
  min-width: 50%;
  max-width: 100%;
}

.ppp-a-pomsky {
  align-items: flex-start;
}

.ppp-no-puppies-message {
  color: #3a3a3a;
  font-size: 1.5rem;
}


h1 {
  font-family: 'BigCaslon';
}


h3 {
  font-size: 2rem;
}


h4, span {
  font-size: 1.7rem;
}

.ppp-contact-methods {
  border-top: 1px #333 solid;
}
.ppp-contact-methods > div{
  margin: 1.5rem 0;
}

iframe {
  display: block;
  margin: 3.5rem 0;
}



.success-message {
  background-color: #d0eecb;
}

.failure-message {
  background-color: #f2a78c;
}
.success-message, .failure-message {
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: .5rem;
}


.ppp-blog > header {
  border-bottom: 1px solid var(--ppp-primary);
  padding: 1.5rem 0;

}

.ppp-blog header  {
  display: flex;
  align-items: center;
}
.ppp-blog header > * {
  padding: 0 0.5rem;
}



.ppp-blog h1 {
  font-size: 3.2rem;

}

.ppp-blog h2 {
  font-size: 2.2rem;
  line-height: 3.2rem;

}
.ppp-blog h1, .ppp-blog h2 {
  color: var(--ppp-primary);
}

p {
  margin: .5rem 0;
}


#sanity input {
  font-size: 1.4rem;
  padding: 0rem 3.5rem;
  box-sizing: border-box;
}

div[data-ui="Container"]{
  max-width: 90%;
}

[data-sanity-icon] {
  margin: unset !important;
  font-size: 2.3rem !important;
}

[data-as="input"]{
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
[data-ui="Box"] {
  top: .5rem !important;
}