.ppp-blog-entry {
    color: var(--ppp-primary);
    margin-top: 2rem;
    width: 50rem;
    max-width: 100%;
}
.ppp-blog-entry img {
    margin: 1.5rem 0;
    display: block;
}
.ppp-blog-entry-body {
    padding: 0.5rem 0 0 0;
    box-sizing: border-box;
    
}
.ppp-blog-entry header {
    padding: 1.5rem 0 ;
}
.ppp-blog-entry span {
    display: block;
    font-size: 1.8rem;
}
.ppp-blog-entry button {
    margin: 1.5rem 0;
}


.ppp-blog-entry header h3 {
    font-size: 1.8rem;
}
.ppp-blog-entry header span {
    font-size: 1.6rem;
    line-height: 2rem;
    font-size: #333333;
}
.ppp-blog-entry header span:last-child {
    font-size: 1.4rem;
    line-height: 2rem;
}
.ppp-blog-entry p {
    margin-bottom: 1.5rem;
}

.ppp-blog .ppp-flex-container > div {
    max-width: 100%;
}