footer {
    background-color: #231a3f;
    padding: 2.5rem 2.5rem 10.5rem 2.5rem;
    box-sizing: border-box;
    
}

footer > div {
    display: flex;
    align-items: start;
    justify-content: space-between;
}