footer {
    background-color: #231a3f;
    padding: 2.5rem 2.5rem 10.5rem 2.5rem;
    box-sizing: border-box;
    
}

footer > div > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: white !important;
}

footer ul li  {
    display: inline-block;
    width: 2.5rem;
    margin-top: 1.5rem;
    transition: all .5s ease ;

}
footer ul li:hover {
    transform: scale(1.2);
    cursor: pointer;
}
footer ul li:last-child {
    margin-left: 1.5rem;
}

footer .logo {
    margin-left: -1.5rem;
}

.ppp-footer-inner-container {
    display: flex;
}

@media only screen  and (max-width: 48rem) {
    .ppp-footer-inner-container {
        flex-direction: column;
    } 
    .ppp-footer-inner-container ul {
        display: flex;
        justify-content: center;
    }
}