header {

    padding: 1.5rem;
    box-sizing: border-box;
    color: #333;
    width: 100%;
    display: fixed;
}
header * {
    font-size: 1.6rem;
}
header > div {
    display: flex;
    justify-content: space-between;

}


header nav li {
    display: inline-block;
    list-style: none;
    padding: 0 .5rem;
}
header ul >  li >  button {
    font-size: 1.3rem !important;
    padding: .5rem 2.5rem !important;
}

.ppp-header > ul > li   {
    font-size: 2rem !important;

}

.ppp-mega-menu  li > a {
    font-size: 3.8rem !important;
    line-height: 4.5rem;
    text-align: center;

  
}

.ppp-header p {
    font-family: 'BigCaslon';
}

.ppp-header, .ppp-mega-menu li a {

    color: var(--ppp-primary) !important;
    transition: all .2s ease;
}

.ppp-mega-menu  li a{
    letter-spacing: -.25rem;
}

.ppp-mega-menu li a:hover {
    font-size: 8.5rem;
    letter-spacing: 0rem;
}

.ppp-mega-menu  {
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.ppp-header > nav >  header ul > li > a {
    background-color: var(--ppp-primary);
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
}

.ppp-header-modal-title {
    font-size: 1.8rem;
}

.ppp-modal-body {
    font-size: 1.4rem;
    color: var(--ppp-primary);
    border-top: 1px solid #ccc;
    padding: 1.5rem 0; 
}

.ppp-modal-body > form {
    margin: 0 auto;
}

.ppp-header-modal-footer > footer {
    background-color:  unset !important;
}

.ppp-header-modal-footer > footer  button {
    font-size: 1.4rem;

}

.ppp-header-modal-footer > footer {
    justify-content: flex-start;
}

header button > span:nth-child(even) {

    width: 1.5rem !important;
    margin: 1.5rem !important;
    display: block !important;
}

.ppp-header {
    border-bottom: 1px #ccc solid;
    padding: 1.5rem 0;
}