header {

    padding: 1.5rem;
    box-sizing: border-box;
    color: #333;
    width: 100%;
    display: fixed;
}
header * {
    font-size: 1.6rem;
}
header > div {
    display: flex;
    justify-content: space-between;

}


header nav li {
    display: inline-block;
    list-style: none;
    padding: 0 .5rem;
}


.ppp-header > ul > li > a  {
    font-size: 1.8rem;

}

.ppp-mega-menu  li > a {
    font-size: 3.8rem !important;
    line-height: 4.5rem;
    text-align: center;

  
}
.ppp-header, .ppp-mega-menu li a {
    font-family: 'BigCaslon';

    color: var(--ppp-primary) !important;
    transition: all .2s ease;
}

.ppp-mega-menu  li a{
    letter-spacing: -.25rem;
}

.ppp-mega-menu li a:hover {
    font-size: 8.5rem;
    letter-spacing: 0rem;
}

.ppp-mega-menu  {
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.ppp-header > nav >  header ul > li > a {
    background-color: var(--ppp-primary);
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
}

