
  .litter {
    padding: 2.5rem;
    box-sizing: border-box;
  }
  

  .litter .filters  {
   color: #333; 
  }

  .filters-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #333;
    margin: 1rem;
    padding: 1rem;

  }
  
  .filters span {
    font-weight: bold;
    font-size: 1.6rem;
    margin-right: 2.5rem;
    position: relative;
    margin-top: -3.5rem;
  }
  .ppp-litter-title h2,   .ppp-litter-title span, .litter-parents {
    font-family: 'BigCaslon';
    text-align: center;
  }

  .ppp-litter-title span, .litter-parents {
    font-style: italic;
    font-size: 2.5rem;
    color: var(--ppp-secondary);
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .ppp-litter-title h2{
    font-size: 5.5rem;
    line-height: 5.5rem;
    margin: .5rem 0;
    letter-spacing: -.5rem;
    color: var(--ppp-primary);
  }

  .filters-list-selects {
    display: flex;
    justify-content: flex-end;
  }

  .ppp-no-puppies-message {
    font-style: italic;
    color: #3e3e3e;
  }

  .litter-title p {
    font-size: 1.5rem;
    color: var(--ppp-primary);
    margin: 2.5rem auto;
  }

  @media only screen and (max-width: 48rem) {
      .litter .ppp-flex-container {
        flex-direction: row !important;
      }
  }

  .litter .ppp-filter-options {
    padding: 0 0.5rem;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
    display: flex;
  }


  .ppp-filter-options > div {
    margin:1.5rem 1.5rem;
  }

  .ppp-filter-options span {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #333;
  } 
  .ppp-filter-options > div > span {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }

  .litter  .ppp-flex-container {
    justify-content: center;
    align-items: start;
  }

  .ppp-litter-info .ppp-flex-container {
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 50rem;
    max-width: 100%;
  }


  .ppp-puppies, .ppp-all-litters{
    flex-wrap: wrap;

  }
  .ppp-all-litters > div {
    flex-basis: 100%;
    max-width: 100%;
  }