.puppy-card {
    padding: 1.5rem;
    color: #333;
    background-size: cover;
    min-height: 30rem;
    border-radius: .5rem;
    
}



.puppy-card-heading {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.puppy-card-content {
    background-color: #fafafa;
    padding: 1rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.puppy-card-content-name {
    font-size: 1.3rem;
    margin: 1rem 0;
}

.puppy-card-content-name {
    font-family: 'BigCaslon';
    font-size: 1.8rem;
    font-weight: 800;
    font-style: italic;
}

.puppy-card-description {
    margin-bottom: 1.5rem;
}

.puppy-card-bottom-content {
    border-top: 1px #333 solid;
    padding: 1.2rem 0;
}

.puppy-card-bottom-status > div {
    margin: 4px 7px;
}